/* Navigation Bar */
#main-navbar {
    background-color: blue;
    overflow: hidden;
    float: left;
    width: 100%;
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    left: 50%;
    right: 50%;
}

#main-navbar ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#main-navbar li {
    float: left;
    display: block;
    padding: 10px 20px;
}

#main-navbar a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: underline overline;
    background-color: #000;
}

/* Sidebar */
#sidebar {
    position: fixed;
    right: 0;
    background-color: red;
    height: 100%;
    width: 20%;
    text-align: center;
    padding: 0;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar li {
    padding: 15px 0;
    display: block;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    display: block;
    padding: 15px 0;
}

